*{
background-color: rgb(190, 232, 234);
}

h1 {
background-color: inherit;
}

h2{
background-color:grey;
border: 1px solid black;
padding: 10px;
margin:10px;
width: 70%;
height: 20%;
text-align:center;
position: absolute;
top:20%;
left:5%;
}

p{
background-color:grey;
border: 1px solid black;
padding: 10px;
margin:10px;
width: 70%;
height: 20%;
text-align:center;
position: absolute;
top:60%;
left:5%;
}
body{
background-color:grey;
border: 1px solid black;
padding: 20px;
width:85%;
Height 95%;
position: relative;
top:0;
left:4%;

}
header{
background-color:lightgrey;
border: 1px solid black;
padding: 10px;
margin:10px;
}

main{
background-color:lightgrey;
border: 1px solid black;
padding: 10px;
margin:10px;
position: relative;
height:450px;
}

section{
background-color:grey;
border: 1px solid black;
padding: 10px;
margin:10px;
width: 60%;
height:300px;
position:absolute;
top:25%;
left:0;
}

article{
background-color:lightgrey;
border: 1px solid black;
padding: 10px;
margin:10px;
width: 75%;
height:65%;
position:absolute;
top:15%;
left:5%;
}

aside{
background-color:grey;
border: 1px solid black;
padding: 10px;
margin:10px;
width: 30%;
height:300px;
position:absolute;
top:25%;
right:0;
}

footer{
background-color:lightgrey;
border: 1px solid black;
padding: 10px;
margin:10px;
}